[Unit]
Description=Run Edgerun server health check periodically

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min
AccuracySec=1min
Unit=edgerun-server-health.service
Persistent=true

[Install]
WantedBy=timers.target
