[Unit]
Description=Send Edgerun system report email periodically

[Timer]
OnBootSec=10min
OnUnitActiveSec=12h
AccuracySec=5min
Unit=edgerun-server-report.service
Persistent=true

[Install]
WantedBy=timers.target
