.git
.github
out/*
target
test-ledger
solana-validator.log

**/node_modules
**/.next
**/.tmp
**/dist
**/wiki
**/generated
**/test-results
**/playwright-report

.env
.env.*

!out/target/
!out/target/release/
!out/target/release/edgerun
!out/target/release/edgerun-cli
!out/target/release/edgerun-scheduler
!out/target/release/edgerun-term-server
!out/target/release/edgerun-worker
