EDGERUN_SCHEDULER_ADDR=127.0.0.1:5566
EDGERUN_SCHEDULER_BASE_URL=https://api.edgerun.tech
EDGERUN_SCHEDULER_DATA_DIR=/var/lib/edgerun/scheduler
EDGERUN_SCHEDULER_REQUIRE_CHAIN_CONTEXT=false
EDGERUN_SCHEDULER_REQUIRE_POLICY_SESSION=false
EDGERUN_SCHEDULER_REQUIRE_WORKER_SIGNATURES=false
EDGERUN_SCHEDULER_REQUIRE_RESULT_ATTESTATION=false
EDGERUN_SCHEDULER_QUORUM_REQUIRES_ATTESTATION=false
EDGERUN_SCHEDULER_ALLOWED_ORIGINS=https://www.edgerun.tech
EDGERUN_SCHEDULER_LAMPORTS_PER_BILLION_INSTRUCTIONS=10000000
EDGERUN_SCHEDULER_FLAT_FEE_LAMPORTS=0
EDGERUN_CHAIN_RPC_URL=https://api.mainnet-beta.solana.com
# Point this to your deployed payer keypair.
# EDGERUN_CHAIN_WALLET=/var/lib/edgerun/chain-wallet/edgerun-rpc.json
EDGERUN_CHAIN_PROGRAM_ID=A2ac8yDnTXKfZCHWqcJVYFfR2jv65kezW95XTgrrdbtG
