# SPDX-License-Identifier: Apache-2.0
[Unit]
Description=Run Edgerun Core Healthcheck every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=5s
Persistent=true

[Install]
WantedBy=timers.target
